.container{
    width: 40vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(238, 205, 116);
    background-image: repeating-linear-gradient(36deg, rgba(255, 253, 253, 0.1), rgba(255,255,255, 0.1) 1px, transparent 0px, transparent 2px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: none;
    border-radius: 20px;

}

.container h2{
    font-size: 30px;
    margin: 20px 30px;
}

.container form{
    margin: 30px;
}
.from{
    margin: 20px 0;
}

.from select{
    width: 7rem;
    height: 35px;
    color: #555;
    border: 2px solid transparent;
    margin: 0 20px;
    transition: all .5s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.to select{
    width: 7rem;
    height: 35px;
    color: #555;
    border: 2px solid transparent;
    margin: 0 20px;
    transition: all .5s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.from select:focus, .from input:focus, .to select:focus, .to input:focus{
    outline: none;
}

.from input{
    height: 35px;
    border: none;
    margin: 0 20px;
    padding: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.to input{
    height: 35px;
    border: none;
    margin: 0 20px;
    padding: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.btn{
    width: 90%;
    height: 29px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    cursor: pointer;
}



@media screen and (max-width:1136px){
    .container{
        width: 70vw;
    }
}
@media screen and (max-width: 640px){
    .container{
        width: 90vw;
    }
    .container h2{
        font-size: 25px;
    }

    .from{
        display: flex;
        flex-direction: column;
    }
    .to{
        display: flex;
        flex-direction: column;
    }
    .from select{
        width: 280px;
    }
    .from input{
        width: 260px;
        margin-top: 15px;
    }

    .to select{
        width: 280px;
    }

    .to input{
        margin-top: 15px;
    }
    .btn{
        width: 280px;
    }
}